In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [2]:
#  x_data = df['make', '']
#  y_data = df['price']
#  x_train, x_test, y_tarin, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=0)

In [3]:
# scores = cross_val_score(lr, x_data, y_data, cv=3)

In [4]:
df_car = pd.read_csv('Output Test.csv', index_col=0)
df_car.head()

,URL,image_url,license_plate,price,make,model,mileage,year,fuel_type,transmission,body_type,colour,doors,engine_size
0,https://www.theaa.com/used-cars/cardetails/73-...,https://image.vcars.co.uk/vcarsdna/613006_1.jpg,SY17KFO,5295.0,Peugeot,308,89000.0,2017.0,Diesel,Manual,Estate,Grey,5.0,1.6
1,https://www.theaa.com/used-cars/cardetails/73-...,https://image.vcars.co.uk/vcarsdna/613050_1.jpg,FT59BXE,4299.0,Volkswagen,Polo,44989.0,2010.0,Petrol,Manual,Hatchback,Grey,5.0,1.2
2,https://www.theaa.com/used-cars/cardetails/73-...,https://image.vcars.co.uk/vcarsdna/613044_1.jpg,LL15XOT,8245.0,Nissan,Juke,48678.0,2015.0,Petrol,Automatic,Hatchback,White,5.0,1.6
3,https://www.theaa.com/used-cars/cardetails/73-...,https://image.vcars.co.uk/vcarsdna/613039_1.jpg,SV54MDN,2095.0,Mercedes,C Class,88465.0,2004.0,Petrol,Automatic,Saloon,Silver,4.0,1.8
4,https://www.theaa.com/used-cars/cardetails/73-...,https://image.vcars.co.uk/vcarsdna/613040_1.jpg,LM64BUH,8695.0,Nissan,Juke,39560.0,2014.0,Petrol,Automatic,Hatchback,Grey,5.0,1.6

In [5]:
df = df_car[['license_plate', 'price', 'make', 'mileage', 'year', 'fuel_type', 'transmission', 'body_type', 'engine_size']]
df.set_index('license_plate', inplace=True)
df.head(9)

,price,make,mileage,year,fuel_type,transmission,body_type,engine_size
license_plate,,,,,,,,
SY17KFO,5295.0,Peugeot,89000.0,2017.0,Diesel,Manual,Estate,1.6
FT59BXE,4299.0,Volkswagen,44989.0,2010.0,Petrol,Manual,Hatchback,1.2
LL15XOT,8245.0,Nissan,48678.0,2015.0,Petrol,Automatic,Hatchback,1.6
SV54MDN,2095.0,Mercedes,88465.0,2004.0,Petrol,Automatic,Saloon,1.8
LM64BUH,8695.0,Nissan,39560.0,2014.0,Petrol,Automatic,Hatchback,1.6
YG12LLW,4895.0,Nissan,92200.0,2012.0,Diesel,Manual,Hatchback,1.6
PF65ONZ,13745.0,Skoda,50046.0,2015.0,Diesel,Semi auto,Estate,2.0
SK12OTB,4600.0,Nissan,88000.0,2012.0,Petrol,Manual,Hatchback,1.6
SG61CUJ,2999.0,Renault,57000.0,2011.0,Petrol,Manual,Hatchback,1.1

In [6]:
df.dropna(subset=['engine_size'], inplace=True)

<ipython-input-6-a01f11fc839a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['engine_size'], inplace=True)

In [7]:
df['fuel_type'].unique()

array(['Diesel', 'Petrol', 'Hybrid', 'Electric', 'Petrol/electric',
       'Plug_in_hybrid', 'Hybrid electric', 'Petrol hybrid', 'N/a',
       'Petrol/plugin elec h', 'Petrol / electric hy', 'Petrol phev',
       'Petrol plug-in hybri', 'Diesel hybrid', 'Plug-in hybrid petro',
       'Petrol/electric hybr', 'Diesel/plugin elec h', ' ',
       'Petrol plugin hybrid'], dtype=object)

In [8]:
df['fuel_type'].replace(dict.fromkeys(['Petrol/electric', 'Plug_in_hybrid', 'Hybrid electric', 'Petrol hybrid', 'Petrol/plugin elec h', 'Petrol / electric hy', 'Petrol phev','Petrol plug-in hybri', 'Diesel hybrid', 'Plug-in hybrid petro','Petrol/electric hybr', 'Diesel/plugin elec h', 'Petrol plugin hybrid'], 'Hybrid'), inplace=True)
df['fuel_type'].replace(dict.fromkeys([' ', 'N/a'], np.NaN), inplace=True)

/Users/dorasun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [9]:
df['fuel_type'].unique()

array(['Diesel', 'Petrol', 'Hybrid', 'Electric', nan], dtype=object)

In [10]:
df.isna().sum()

price            0
make             0
mileage          0
year             0
fuel_type       44
transmission     0
body_type        0
engine_size      0
dtype: int64

In [11]:
df.dropna(subset=['fuel_type'], inplace=True)

<ipython-input-11-368ed62179d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['fuel_type'], inplace=True)

In [12]:
df['transmission'].unique()

array(['Manual', 'Automatic', 'Semi auto', 'Semiauto', 'Unknown', 'Cvt',
       'Semiautomatic', 'N/a', 'Semi automatic', 'Semi-automatic',
       'Semi-auto', 'Semi'], dtype=object)

In [13]:
df['transmission'].replace(dict.fromkeys(['Semi auto', 'Semiauto', 'Cvt','Semiautomatic', 'Semi automatic', 'Semi-automatic', 'Semi'], 'Semi-auto'), inplace=True)
df['transmission'].replace(dict.fromkeys(['Not specified', 'N/a', 'Unknown'], np.NaN), inplace=True)

/Users/dorasun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [14]:
df['transmission'].unique()

array(['Manual', 'Automatic', 'Semi-auto', nan], dtype=object)

In [15]:
df.isna().sum()

price            0
make             0
mileage          0
year             0
fuel_type        0
transmission    16
body_type        0
engine_size      0
dtype: int64

In [16]:
df.dropna(subset=['transmission'], inplace=True)

<ipython-input-16-0dd959c8e6e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['transmission'], inplace=True)

In [17]:
df['body_type'].unique()

array(['Estate', 'Hatchback', 'Saloon', 'Mpv', 'Panel van',
       'Car derived van', 'Suv', 'Convertible', 'Pickup', 'Coupe', 'Van',
       'Krew cab', 'Na', '5 door hatchback', 'Pick-up',
       '3 door hatchback', 'Combi van', 'Temperature controlled', 'Truck',
       'High volume/high roof van', 'Dropside', 'Double cab pick-up',
       'Station wagon', 'Roadster', 'Luton', 'Tipper', 'Medium roof van',
       'Other', '4x4', 'Off-roader', 'Cabriolet/roadster', 'Limousine',
       'Compact saloon', 'Campervan', 'Sports', 'N/a', 'Pick up',
       'Swb panel van', 'Chassis cab', 'Crossover', 'Van swb',
       'Cabriolet', 'Curtainside', 'Crew bus', 'Commercial',
       'Sports tourer', 'Hatch', 'Window van', 'All terrain',
       'Double cab tipper', 'Van - swb', 'Panel van lwb', 'Mwb panel van',
       'Lwb panel van', 'Cars', 'Light 4x4 utility', 'Medium vans',
       'Coupe-convertible', 'Standard roof minibus', 'Minibus',
       'Dropside pickups', 'Camper van motorhome',
       'Van with side windows', '4 door saloon', 'Van lwb',
       'Four wheel drive', 'Crew cab', 'High roof minibus',
       'Convertibles', 'Transit custom', 'Medium van', 'Crewcab pickup',
       'Large vans', 'Double cab van', 'People carrier', 'Hook loader',
       'Sports car'], dtype=object)

In [18]:
df['body_type'].replace(dict.fromkeys(['Other', 'N/a', 'Na', 'Temperature controlled', 'Cars', 'car', 'Truck', 'Limousine'], np.NaN), inplace=True)
df['body_type'].replace(dict.fromkeys(['Window van', 'Standard roof minibus', 'Van with side windows', 'High roof minibus', 
'Medium vans', 'Camper van motorhome', 'Large vans', 'Krew cab', 'Crew bus', 'Crew cab', 'Double cab van', 'Dropside', 'Tipper',
'Chassis cab', 'Double cab tipper', 'Hook loader', 'High volume/high roof van', 'Luton', 'Curtainside', 'Swb panel van', 'Van swb', 
'Van - swb', 'Panel van lwb', 'Mwb panel van', 'Lwb panel van', 'Van lwb', 'Transit custom', 'Double cab pick-up', 'Pick up', 
'Dropside pickups', 'Crewcab pickup', 'Medium roof van','Medium vans',  'All terrain', 'Minibus', 'Van', 'Pick-up', 'Medium van', 'Pickup',
'Combi van', 'Campervan', 'Station wagon', 'Panel van'], 'van'), inplace=True)
df['body_type'].replace(dict.fromkeys(['Sports tourer' ], 'Estate'), inplace=True)
df['body_type'].replace(dict.fromkeys(['Compact saloon', '4 door saloon'], 'Saloon'), inplace=True)
df['body_type'].replace(dict.fromkeys(['People carrier', 'Commercial', 'Car derived van'], 'Mpv'), inplace=True)
df['body_type'].replace(dict.fromkeys(['Cabriolet', 'Coupe-convertible', 'Convertibles', 'Cabriolet/roadster', 'Sports car', 'Sports', 'Roadster'], 'Convertible'), inplace=True)
df['body_type'].replace(dict.fromkeys(['Off-roader', 'Light 4x4 utility', 'Four wheel drive', 'Crossover', '4x4'], 'Suv'), inplace=True)
df['body_type'].replace(dict.fromkeys(['5 door hatchback', 'Hatch', '3 door hatchback'], 'Hatchback'), inplace=True)

/Users/dorasun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [19]:
df['body_type'].unique()

array(['Estate', 'Hatchback', 'Saloon', 'Mpv', 'van', 'Suv',
       'Convertible', 'Coupe', nan], dtype=object)

In [20]:
df.isna().sum()

price            0
make             0
mileage          0
year             0
fuel_type        0
transmission     0
body_type       53
engine_size      0
dtype: int64

In [21]:
df.dropna(subset=['body_type'], inplace=True)
index_btype = df[df['body_type'].str.contains('van')].index
df.drop(index_btype, inplace = True)

<ipython-input-21-e818855502a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['body_type'], inplace=True)
/Users/dorasun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [22]:
df['body_type'].value_counts()

Hatchback      8204
Suv            3799
Estate         1864
Saloon          960
Mpv             560
Coupe           554
Convertible     418
Name: body_type, dtype: int64

In [23]:
df['make'].unique()

array(['Peugeot', 'Volkswagen', 'Nissan', 'Mercedes', 'Skoda', 'Renault',
       'Volvo', 'MINI', 'Vauxhall', 'Land Rover', 'Ford', 'Kia', 'Honda',
       'Lexus', 'Fiat', 'Hyundai', 'DS', 'BMW', 'Audi', 'Dacia',
       'Citroen', 'Abarth', 'Infiniti', 'Toyota', 'Suzuki', 'Subaru',
       'Smart', 'Ssangyong', 'SEAT', 'Rolls Royce', 'Porsche',
       'Mitsubishi', 'MG', 'Mercedes-Benz', 'Mazda', 'Maserati', 'Jaguar',
       'Jeep', 'HYUNDAI', 'RENAULT', 'DACIA', 'KIA', 'VAUXHALL', 'Bmw',
       'SKODA', 'Seat', 'Mini', 'SSANGYONG', 'FORD', 'SUZUKI', 'SUBARU',
       'VOLKSWAGEN', 'NISSAN', 'CHRYSLER', 'SAAB', 'VOLVO', 'HONDA',
       'MERCEDES-BENZ', 'Alfa Romeo', 'DS Automobiles', 'CITROEN',
       'DS AUTOMOBILES', 'AUDI', 'SsangYong', 'FIAT', 'TOYOTA', 'PEUGEOT',
       'Mercedes Benz', 'LAND ROVER', 'Ds', 'PORSCHE', 'MAZDA',
       'Daihatsu', 'Chevrolet', 'Bentley', 'SMART', 'MITSUBISHI', 'JEEP',
       'JAGUAR', 'CHEVROLET', 'Chrysler', 'Dodge', 'Ferrari', 'Perodua',
       'Saab', 'MCLAREN', 'INFINITI', 'ABARTH', 'LEXUS', 'BENTLEY',
       'ALFA ROMEO', 'MG Motor UK', 'PERODUA', 'Aston Martin', 'DODGE',
       'smart'], dtype=object)

In [24]:
df['make'] = df['make'].apply(lambda x: x.upper())

<ipython-input-24-744c3081ba2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['make'] = df['make'].apply(lambda x: x.upper())

In [25]:
df['make'].unique()

array(['PEUGEOT', 'VOLKSWAGEN', 'NISSAN', 'MERCEDES', 'SKODA', 'RENAULT',
       'VOLVO', 'MINI', 'VAUXHALL', 'LAND ROVER', 'FORD', 'KIA', 'HONDA',
       'LEXUS', 'FIAT', 'HYUNDAI', 'DS', 'BMW', 'AUDI', 'DACIA',
       'CITROEN', 'ABARTH', 'INFINITI', 'TOYOTA', 'SUZUKI', 'SUBARU',
       'SMART', 'SSANGYONG', 'SEAT', 'ROLLS ROYCE', 'PORSCHE',
       'MITSUBISHI', 'MG', 'MERCEDES-BENZ', 'MAZDA', 'MASERATI', 'JAGUAR',
       'JEEP', 'CHRYSLER', 'SAAB', 'ALFA ROMEO', 'DS AUTOMOBILES',
       'MERCEDES BENZ', 'DAIHATSU', 'CHEVROLET', 'BENTLEY', 'DODGE',
       'FERRARI', 'PERODUA', 'MCLAREN', 'MG MOTOR UK', 'ASTON MARTIN'],
      dtype=object)

In [26]:
df['make'].replace(dict.fromkeys(['MERCEDES-BENZ', 'MERCEDES BENZ'], 'MERCEDES'), inplace=True)
df['make'].replace('DS AUTOMOBILES', 'DS', inplace=True)
df['make'].replace('MG MOTOR UK', 'MG', inplace=True)

/Users/dorasun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [27]:
df['make'].unique()

array(['PEUGEOT', 'VOLKSWAGEN', 'NISSAN', 'MERCEDES', 'SKODA', 'RENAULT',
       'VOLVO', 'MINI', 'VAUXHALL', 'LAND ROVER', 'FORD', 'KIA', 'HONDA',
       'LEXUS', 'FIAT', 'HYUNDAI', 'DS', 'BMW', 'AUDI', 'DACIA',
       'CITROEN', 'ABARTH', 'INFINITI', 'TOYOTA', 'SUZUKI', 'SUBARU',
       'SMART', 'SSANGYONG', 'SEAT', 'ROLLS ROYCE', 'PORSCHE',
       'MITSUBISHI', 'MG', 'MAZDA', 'MASERATI', 'JAGUAR', 'JEEP',
       'CHRYSLER', 'SAAB', 'ALFA ROMEO', 'DAIHATSU', 'CHEVROLET',
       'BENTLEY', 'DODGE', 'FERRARI', 'PERODUA', 'MCLAREN',
       'ASTON MARTIN'], dtype=object)

In [28]:
df['make'].value_counts(normalize=True)

FORD            0.110215
VOLKSWAGEN      0.099517
VAUXHALL        0.087047
MERCEDES        0.083196
AUDI            0.054527
NISSAN          0.052693
BMW             0.047680
SKODA           0.042668
PEUGEOT         0.042240
LAND ROVER      0.033560
TOYOTA          0.032215
HYUNDAI         0.031909
VOLVO           0.031787
KIA             0.030686
SEAT            0.027263
HONDA           0.027141
RENAULT         0.024757
MINI            0.021578
CITROEN         0.020661
JAGUAR          0.014610
FIAT            0.014549
MAZDA           0.014182
SUZUKI          0.013265
LEXUS           0.007458
MITSUBISHI      0.005807
DACIA           0.005746
PORSCHE         0.004707
JEEP            0.002934
SMART           0.002751
DS              0.002384
MG              0.002078
ABARTH          0.001406
SUBARU          0.001161
ALFA ROMEO      0.001100
CHEVROLET       0.000734
SSANGYONG       0.000672
BENTLEY         0.000611
MASERATI        0.000489
INFINITI        0.000489
CHRYSLER        0.000428
SAAB            0.000367
DODGE           0.000245
DAIHATSU        0.000122
PERODUA         0.000122
FERRARI         0.000061
ASTON MARTIN    0.000061
MCLAREN         0.000061
ROLLS ROYCE     0.000061
Name: make, dtype: float64

In [29]:
df['car_tier'] = df['make']
df['car_tier'].replace(dict.fromkeys(['MERCEDES', 'AUDI', 'PEUGEOT', 'LAND ROVER', 'JAGUAR', 'LEXUS', 'PORSCHE', 'BENTLEY', 'MASERATI', 'INFINITI', 
'ROLLS ROYCE', 'FERRARI', 'ASTON MARTIN', 'MCLAREN', 'BMW'], 'T1'), inplace=True)
df['car_tier'].replace(dict.fromkeys(['VOLKSWAGEN', 'VOLVO', 'MINI', 'MITSUBISHI', 'HONDA', 'JEEP', 'DS', 'RENAULT', 'SUBARU', 'ALFA ROMEO', 'SAAB', 'DODGE'], 'T2'), inplace=True)
df['car_tier'].replace(dict.fromkeys(['FORD', 'VAUXHALL', 'NISSAN', 'SKODA', 'TOYOTA', 'HYUNDAI', 'SEAT', 'SMART', 'CITROEN', 
'FIAT', 'ABARTH', 'KIA', 'MAZDA', 'SUZUKI', 'DACIA', 'MG', 'ABARTH', 'CHEVROLET', 'SSANGYONG', 'CHRYSLER', 'PERODUA', 'DAIHATSU'], 'T3'), inplace=True)
df['car_tier'].unique().sum()

<ipython-input-29-c00f582c66c5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_tier'] = df['make']

'T1T2T3'

In [30]:
df['car_tier'].value_counts()

T3    8039
T1    4741
T2    3579
Name: car_tier, dtype: int64

In [31]:
df['engine_size']

license_plate
SY17KFO    1.6
FT59BXE    1.2
LL15XOT    1.6
SV54MDN    1.8
LM64BUH    1.6
          ...
YF04HFH    3.2
NK15VUW    2.0
BX14UER    1.4
LT17MVA    1.4
DL66HTT    1.6
Name: engine_size, Length: 16359, dtype: float64

In [32]:
df['engine_size'].unique()

array([1.6, 1.2, 1.8, 2. , 1.1, 2.1, 1.7, 1. , 2.5, 1.4, 3.3, 1.5, 1.3,
       2.2, 3. , 0.9, 2.4, 6.6, 2.9, 4. , 3.6, 2.7, 3.7, 5.5, 5. , 3.5,
       4.4, 2.8, 2.3, 1.9, 0.8, 4.1, 3.2, 4.8, 4.2, 4.7, 3.4, 4.5, 6.2,
       6.8, 6.3, 2.6, 3.8, 5.7, 5.2, 0.6, 6. , 4.3])

In [33]:
df['engine_tier'] = df['engine_size']
df['engine_tier'].replace(dict.fromkeys([0.9, 0.8, 0.6, 1.0], '0-1L'), inplace=True)
df['engine_tier'].replace(dict.fromkeys([1.6, 1.2, 1.8, 1.1, 1.7, 1.4, 1.5, 1.3, 1.9, 2. ], '1-2L'), inplace=True)
df['engine_tier'].replace(dict.fromkeys([2.1, 2.5, 2.2, 3. , 2.4, 2.9, 2.7, 2.8, 2.3, 2.6], '2-3L'), inplace=True)
df['engine_tier'].replace(dict.fromkeys([3.3, 6.6, 4. , 3.6, 3.7, 5.5, 5. , 3.5, 4.4, 4.1, 3.2, 4.8, 4.2, 4.7, 3.4, 4.5, 6.2,6.8, 6.3, 3.8, 5.7, 5.2, 4.3, 6. ], '>3L'), inplace=True)

<ipython-input-33-ed84ed764487>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine_tier'] = df['engine_size']

In [34]:
df['engine_tier'].value_counts()

1-2L    11958
0-1L     2469
2-3L     1709
>3L       223
Name: engine_tier, dtype: int64

In [35]:
df['year'].unique()
df['year'].astype(str)

license_plate
SY17KFO    2017.0
FT59BXE    2010.0
LL15XOT    2015.0
SV54MDN    2004.0
LM64BUH    2014.0
            ...
YF04HFH    2004.0
NK15VUW    2015.0
BX14UER    2014.0
LT17MVA    2017.0
DL66HTT    2016.0
Name: year, Length: 16359, dtype: object

In [36]:
df['year'].replace(19, 2019, inplace=True)
df['year'].replace(21, 2021, inplace=True)
df['year'].replace(70, 1970, inplace=True)
df['year'].replace(69, 1969, inplace=True)
df['year'].replace(18, 2018, inplace=True)
df['year'].replace(68, 1968, inplace=True)
df['year'].replace(17, 2017, inplace=True)
df['year'].replace(12, 2012, inplace=True)
df['year'].replace(65, 1965, inplace=True)
df['year'].replace(66, 1966, inplace=True)
df['year'].replace(67, 1967, inplace=True)
df['year'].replace(16, 2016, inplace=True)
df['year'].replace(64, 1964, inplace=True)
df['year'].replace(20, 2020, inplace=True)
df['year'].replace(15, 2015, inplace=True)
df['year'].replace(14, 2014, inplace=True)
df['year'].replace(10, 2010, inplace=True)
df['year'].replace(13, 2013, inplace=True)
df['year'].replace(62, 1962, inplace=True)
df['year'].replace(0, np.nan, inplace=True)

In [37]:
df['year'].unique()

array([2017., 2010., 2015., 2004., 2014., 2012., 2011., 2007., 2013.,
       2006., 2008., 2005., 2009., 2018., 2019., 2016., 2020., 2021.,
       2003., 2000., 2002., 1972., 1970., 1969., 1968., 1965., 1966.,
       1967., 1964., 1962.,   nan, 2001., 1998., 1999., 1996., 1974.,
       1997.])

In [38]:
df['year'].isna().sum()

3

In [39]:
df.dropna(subset=['year'], inplace=True)

<ipython-input-39-e283a4519d2a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['year'], inplace=True)

In [40]:
df['year'].value_counts(normalize=True)

2018.0    0.183419
2019.0    0.123869
2017.0    0.121362
2020.0    0.103632
2016.0    0.082111
2015.0    0.072328
2021.0    0.069210
2014.0    0.060345
2013.0    0.039802
2012.0    0.032710
2011.0    0.026290
2010.0    0.024089
2009.0    0.016080
2008.0    0.012717
2007.0    0.011922
2006.0    0.007765
2005.0    0.003424
2004.0    0.002629
2003.0    0.001590
2002.0    0.001039
1968.0    0.000673
2001.0    0.000550
1965.0    0.000428
2000.0    0.000367
1967.0    0.000306
1970.0    0.000245
1999.0    0.000245
1964.0    0.000183
1966.0    0.000183
1969.0    0.000122
1972.0    0.000061
1974.0    0.000061
1962.0    0.000061
1998.0    0.000061
1996.0    0.000061
1997.0    0.000061
Name: year, dtype: float64

In [41]:
df['year_band'] = df['year']
df['year_band'].replace(dict.fromkeys([2021.0, 2020.0], '>2020'), inplace=True)
df['year_band'].replace(dict.fromkeys([2015.0, 2016.0, 2017.0, 2018.0, 2019.0], '2015-2019'), inplace=True)
df['year_band'].replace(dict.fromkeys([2011.0, 2010.0, 2012.0, 2013.0, 2014.0], '2010-2014'), inplace=True)
df['year_band'].replace(dict.fromkeys([2004., 2007., 2006., 2008., 2005., 2009., 2003., 2000., 2002., 1972., 1970., 1969., 1968., 1965., 1966.,
1967., 1964., 1962., 2001., 1998., 1999., 1996., 1974., 1997.], '<2010'), inplace=True)
df['year_band'].value_counts()

<ipython-input-41-5c12c349ff5a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_band'] = df['year']
/Users/dorasun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

2015-2019    9537
2010-2014    2997
>2020        2827
<2010         995
Name: year_band, dtype: int64

In [42]:
df['mileage'].astype(int)

license_plate
SY17KFO    89000
FT59BXE    44989
LL15XOT    48678
SV54MDN    88465
LM64BUH    39560
           ...
YF04HFH    84750
NK15VUW    43000
BX14UER    58020
LT17MVA    31190
DL66HTT    49250
Name: mileage, Length: 16356, dtype: int64

In [43]:
# ss = StandardScaler()
# data = np.array(df['mileage'])
# data = ss.fit_transform(data.reshape(-1, 1))
# print(data)

In [44]:
# mm = MinMaxScaler(feature_range=(0,1))
# sample = np.array(df['mileage'])
# sample = mm.fit_transform(sample.reshape(-1, 1))
# print(sample)

In [45]:
# mask = (df['mileage'] - df['mileage'].mean())/df['mileage'].std()
# print(mask)

In [46]:
# len(df['colour'].unique())

In [47]:
# df['colour'] = df['colour'].apply(lambda x: x.upper())
# len(df['colour'].unique())

In [48]:
# df['colour'].value_counts(normalize=True)

In [49]:
# df['colour_band'] = df['colour']
# # df['colour_band'] = df['colour_band'].str.replace(' ', '')
# # df['colour_band'] = df['colour_band'].str.replace('-', '')
# df['colour_band'].value_counts().cumsum().head(20)

In [50]:
# index_grey = df[df['colour_band'].str.contains('GREY')].index
# df.loc[index_grey, 'colour_band'] = 'GREY'
# index_silver = df[df['colour_band'].str.contains('SLIVER', case=False)].index
# df.loc[index_silver, 'colour_band'] = 'SLIVER'
# index_black = df[df['colour_band'].str.contains('BLACK', case=False)].index
# df.loc[index_black, 'colour_band'] = 'BLACK'
# index_white = df[df['colour_band'].str.contains('WHITE', case=False)].index
# df.loc[index_black, 'colour_band'] = 'WHITE'
# df['colour_band'].value_counts(20)

In [51]:
# df['colour_band'].value_counts()

In [52]:
# df.loc[index_grey] == 'GREY'
# df['colour_band'].value_counts()

In [53]:
df.head(10)

,price,make,mileage,year,fuel_type,transmission,body_type,engine_size,car_tier,engine_tier,year_band
license_plate,,,,,,,,,,,
SY17KFO,5295.0,PEUGEOT,89000.0,2017.0,Diesel,Manual,Estate,1.6,T1,1-2L,2015-2019
FT59BXE,4299.0,VOLKSWAGEN,44989.0,2010.0,Petrol,Manual,Hatchback,1.2,T2,1-2L,2010-2014
LL15XOT,8245.0,NISSAN,48678.0,2015.0,Petrol,Automatic,Hatchback,1.6,T3,1-2L,2015-2019
SV54MDN,2095.0,MERCEDES,88465.0,2004.0,Petrol,Automatic,Saloon,1.8,T1,1-2L,<2010
LM64BUH,8695.0,NISSAN,39560.0,2014.0,Petrol,Automatic,Hatchback,1.6,T3,1-2L,2010-2014
YG12LLW,4895.0,NISSAN,92200.0,2012.0,Diesel,Manual,Hatchback,1.6,T3,1-2L,2010-2014
PF65ONZ,13745.0,SKODA,50046.0,2015.0,Diesel,Semi-auto,Estate,2.0,T3,1-2L,2015-2019
SK12OTB,4600.0,NISSAN,88000.0,2012.0,Petrol,Manual,Hatchback,1.6,T3,1-2L,2010-2014
SG61CUJ,2999.0,RENAULT,57000.0,2011.0,Petrol,Manual,Hatchback,1.1,T2,1-2L,2010-2014
NV62TXT,5000.0,VOLVO,91500.0,2012.0,Diesel,Manual,Hatchback,1.6,T2,1-2L,2010-2014

In [54]:
df.to_csv('Pre-processed Data.csv', index=True)

In [62]:
df = pd.read_csv('Pre-processed Data.csv', index_col=0)

In [63]:
dummy_df = df[['fuel_type', 'transmission', 'body_type', 'car_tier', 'engine_tier', 'year_band']]

In [64]:
Feature = pd.concat([df['mileage'], pd.get_dummies(dummy_df)], axis=1)

In [65]:
Feature

,mileage,fuel_type_Diesel,fuel_type_Electric,fuel_type_Hybrid,fuel_type_Petrol,transmission_Automatic,transmission_Manual,transmission_Semi-auto,body_type_Convertible,body_type_Coupe,...,car_tier_T2,car_tier_T3,engine_tier_0-1L,engine_tier_1-2L,engine_tier_2-3L,engine_tier_>3L,year_band_2010-2014,year_band_2015-2019,year_band_<2010,year_band_>2020
license_plate,,,,,,,,,,,,,,,,,,,,,
SY17KFO,89000.0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
FT59BXE,44989.0,0,0,0,1,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,0
LL15XOT,48678.0,0,0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
SV54MDN,88465.0,0,0,0,1,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
LM64BUH,39560.0,0,0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YF04HFH,84750.0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
NK15VUW,43000.0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
BX14UER,58020.0,0,0,0,1,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
LT17MVA,31190.0,0,0,0,1,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
DL66HTT,49250.0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [66]:
car_df = pd.concat([df['price'], Feature], axis=1)
car_df

,price,mileage,fuel_type_Diesel,fuel_type_Electric,fuel_type_Hybrid,fuel_type_Petrol,transmission_Automatic,transmission_Manual,transmission_Semi-auto,body_type_Convertible,...,car_tier_T2,car_tier_T3,engine_tier_0-1L,engine_tier_1-2L,engine_tier_2-3L,engine_tier_>3L,year_band_2010-2014,year_band_2015-2019,year_band_<2010,year_band_>2020
license_plate,,,,,,,,,,,,,,,,,,,,,
SY17KFO,5295.0,89000.0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
FT59BXE,4299.0,44989.0,0,0,0,1,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0
LL15XOT,8245.0,48678.0,0,0,0,1,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
SV54MDN,2095.0,88465.0,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
LM64BUH,8695.0,39560.0,0,0,0,1,1,0,0,0,...,0,1,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YF04HFH,4995.0,84750.0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
NK15VUW,16490.0,43000.0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
BX14UER,9379.0,58020.0,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
LT17MVA,13000.0,31190.0,0,0,0,1,1,0,0,0,...,1,0,0,1,0,0,0,1,0,0
DL66HTT,12500.0,49250.0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0

In [69]:
# feature selection
X = Feature
y = car_df['price'].values
y[0:5]

array([5295., 4299., 8245., 2095., 8695.])

In [70]:
# nomalize data
X= StandardScaler().fit(X).transform(X)
X[0:5]

array([[ 1.73982536,  1.32648966, -0.0399019 , -0.22029242, -1.19898119,
        -0.63481105,  0.85518611, -0.39536015, -0.16194637, -0.1872401 ,
         2.78831098, -1.00318433, -0.18793862, -0.24956935, -0.55003674,
         1.56544975, -0.52906744, -0.9831452 , -0.4216541 ,  0.60664327,
        -0.34158335, -0.11730201, -0.47364875,  0.84557952, -0.25450821,
        -0.45711982],
       [ 0.31726941, -0.75386943, -0.0399019 , -0.22029242,  0.83404144,
        -0.63481105,  0.85518611, -0.39536015, -0.16194637, -0.1872401 ,
        -0.35864005,  0.99682578, -0.18793862, -0.24956935, -0.55003674,
        -0.63879406,  1.8901182 , -0.9831452 , -0.4216541 ,  0.60664327,
        -0.34158335, -0.11730201,  2.11126916, -1.18262089, -0.25450821,
        -0.45711982],
       [ 0.43650798, -0.75386943, -0.0399019 , -0.22029242,  0.83404144,
         1.57527188, -1.16933611, -0.39536015, -0.16194637, -0.1872401 ,
        -0.35864005,  0.99682578, -0.18793862, -0.24956935, -0.55003674,
        -0.63879406, -0.52906744,  1.01714375, -0.4216541 ,  0.60664327,
        -0.34158335, -0.11730201, -0.47364875,  0.84557952, -0.25450821,
        -0.45711982],
       [ 1.72253269, -0.75386943, -0.0399019 , -0.22029242,  0.83404144,
         1.57527188, -1.16933611, -0.39536015, -0.16194637, -0.1872401 ,
        -0.35864005, -1.00318433, -0.18793862,  4.00690228, -0.55003674,
         1.56544975, -0.52906744, -0.9831452 , -0.4216541 ,  0.60664327,
        -0.34158335, -0.11730201, -0.47364875, -1.18262089,  3.92914634,
        -0.45711982],
       [ 0.14178927, -0.75386943, -0.0399019 , -0.22029242,  0.83404144,
         1.57527188, -1.16933611, -0.39536015, -0.16194637, -0.1872401 ,
        -0.35864005,  0.99682578, -0.18793862, -0.24956935, -0.55003674,
        -0.63879406, -0.52906744,  1.01714375, -0.4216541 ,  0.60664327,
        -0.34158335, -0.11730201,  2.11126916, -1.18262089, -0.25450821,
        -0.45711982]])